body {
    background-color: #c5d5cd;
}

* {
    padding: 0px;
    margin: 0px;
}

#toppa {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#linkDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.links {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.links:hover {
    color: pink;
}

.links:active {
    color: red;
}

#toppa1 {
    background-color: tan;
    width: 164px;
    height: 48px;
    margin-top: 33px;
}

#toppa1:hover {
    background-color: rgb(255, 183, 88);
}

#toppa1:active {
    background-color: red;
}

#h1 {
    height: 108px;
    margin-right: 37px;
    font: normal normal 900 40px/54px Nunito Sans;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#heading1 {
    margin: 60px 0px 0px 121px;
    line-height: 40px;
}

#normalTXT {
    width: 520px;
    height: 120px;
    margin-top: 50px;
    margin-left: 121px;
}
#nnn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#img1 {
    width: 509px;
    height: 518px;
    background-image: url(/peakpx\ \(2\).jpg);
    background-size: cover;
    border: 1px solid black;
}

#btn1 {
    width: 274px;
    height: 65px;
    font: normal normal 600 23px/31px Nunito Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    background-color: #1492E6;
    border-color: white;
    border-radius: 33px;
    box-shadow: none;
    margin-left: 121px;
}

#btn1:hover {
    background-color: pink;
}

#btn1:active {
    background-color: red;
}

#p1 {
    font: normal normal bold 35px/47px Nunito Sans;
    height: 47px;
    margin-top: 250px;
}

#h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#outside {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inside {
    border-radius: 10px;
    box-shadow: 0px 5px 10px #00000029;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    width: 200px;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
    margin-left: 5px;
}

#p2 {
    font: normal normal bold 35px/47px Nunito Sans;
    /* height: 47px; */
    margin-top: 100px;
}

#h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#imagetxt {
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img2 {
    background-size: cover;
    width: 328px;
    height: 168px;
}

.txtforimg {
    background-color: azure;
    width: 328px;
    height: 168px;
}

.head {
    font: normal normal bold 18px/24px Nunito Sans;
    margin-bottom: 16px;
}

.img3 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* background-color: black; */
    background-image: url(/DSC_0085.JPG);
    background-size: cover;
}

.txt3rd {
    /* background-color: tan; */
    margin-top: 33px;
    width: 644px;
    height: 56px;
}

.img3title {
    /* background-color: #cbfe00; */
    margin-left: 39px;
    width: 253px;
    height: 32px;
}

.segment3rd {
    width: 644px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    flex-wrap: wrap;
    align-items: center;
}

#behindReview {
    /* width: 1097px; */
    height: 363px;
    background: #F8FAFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 42px;
    margin-top: 76px;
    margin-left: 59px;
    margin-right: 124px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#img4 {
    width: 64px;
    height: 63px;
    border-radius: 50%;
    margin: 39px 0px 0px 43px;
    background-image: url(/p5.jpg);
    background-size: cover;
}

.reviews {
    width: 285px;
    height: 263px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 30px;
    margin-top: -200px;
    padding-top: 28px;
}

.img5 {
    width: 42px;
    height: 43px;
    background-image: url(/DSC_0085.JPG);
    background-size: cover;
    margin: 0px 0px 0px 31px;
    border-radius: 50%;
}

#name {
    /* width: 54px; */
    height: 18px;
    text-align: left;
    font: normal normal 600 13px/18px Nunito Sans;
}

#des {
    /* width: 26px; */
    height: 18px;
    text-align: left;
    font: normal normal 600 13px/18px Nunito Sans;
}

.reviewer {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.names {
    margin-left: 8px;
}

#reviewSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 180px;
    margin-right: 194px;
}

.logo {
    width: 185px;
    height: 58px;
    /* background-color: tan; */
    background-image: url(/p7);
    background-size: contain;
}

.logoname {
    width: 118px;
    height: 24px;
    text-align: center;
    font: normal normal bold 18px/24px Nunito Sans;
}

#sponser {
    margin-top: 159px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#nav {
    margin: 190px 0px 0px 0px;
    background-color: black;
    /* width: 1280px; */
    height: 369px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#credit {
    margin-top: 340px;
    width: 126px;
    height: 24px;
    color: white;
}
#namelink{
    color: white;
    text-decoration: none;

}
.ceo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media(width: 390px){
    html{
        font-size: 50%;
        width: 50%;
        margin: 10%;
    }
}
